/* body {
    border: solid red 1px;
    padding: 1px;
    width: 80%;
} */

#thunder-container {
    border: solid black 1px;
    border-radius: 1.25%;
    width: 20%;
    text-align: center;
}

#thunderTimer {
    font-size: 1.5rem;
}